html,
body {
  height: 100%;
}
#bookings {
  background-image:  url("../assets/img/cardsDesk1.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: black; 
  
  align-items: center;
 
}
.form-signin label {
color: white;	
}
.form-signin {
  width: 100%;
  max-width: 630px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
	
}
.form-signin .form-control:focus {
  z-index: 2;
}

