html,
body {
  height: 100%;
}
#bookings {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000000 100%), url("../assets/img/cardsDesk.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: black; 
  
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  
}
.form-signin label {
color: white;	
}
.form-signin {
  width: 100%;
  max-width: 630px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
	
}
.form-signin .form-control:focus {
  z-index: 2;
}

